<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighborhood Map</title>
</head>
<body>
    <div class="app">

        <header class="header">
            <h1>Beerme</h1>
            <p>Where will your next beer take you?</p>

        </header>

        <section class="search-form">
            <input type="text" name="search" data-bind="textInput: searchText" placeholder="Enter city name..."  autocomplete="off">
            <button type="button" data-bind="click: geolocateUser">
                <i class="material-icons">my_location</i>
            </button>
        </section>

        <ul class="location-list" data-bind="foreach: locations, visible: showLocations">
            <li class="location-item" data-bind="text: address, click: $parent.focusLocation"></li>
        </ul>

        <main class="main">
            <div class="map" id="map"></div>
            <section class="places-section" data-bind="if: showPlaces">
                <!-- <button type="button" class="toggle-button" data-bind="click: togglePlaces">
                    <i class="material-icons">list</i>
                </button> -->
                <ul class="place-list" data-bind="foreach: places">
                    <li class="place-item" data-bind="css: {focused: isFocused}, click: $parent.focusPlace">
                        <div data-bind="if: photoUrl, style: {backgroundImage: 'url('+photoUrl+')'}" class="place-picture"></div>
                        <div class="place-detail">
                            <h3 class="place-title" data-bind="text: name"></h3>
                            <p class="place-address" data-bind="text: vicinity"></p>
                        </div>
                    </li>
                </ul>
            </section>
        </main>


    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMeEXzBXlyiDrvaaeUNHpZqdrv14E--Po&callback=initMap&libraries=places" async defer></script>
</body>
</html>