//@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto:400,700');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import './elevation';

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oleo Script', cursive;

font-family: 'Bevan', cursive;
font-family: 'Roboto', sans-serif;

*/
$app-txt-light: rgba(255,255,255,0.87);
$app-txt-dark: rgba(0,0,0,0.87);

$app-bg-status: #E0E0E0;
$app-bg-bar: #F5F5F5;
$app-bg-main: #FAFAFA;
$app-bg-content: #FFFFFF;

$app-bg-primary: #E65100;
$app-bg-accent: #EF6C00;

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: $app-bg-main;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Roboto', sans-serif;
}

.app {

    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 100%;

}

.header {
    display: flex;
    background-color: $app-bg-primary;
    color: $app-txt-light;

    @include elevate(1);

    h1 {
        font-size: 1.6em;
        margin: 0;
        padding: 6px 12px 6px 12px;
    }

    p {
        font-size: 12px;
        margin: 0;
        padding: 0 12px 12px 12px;
        display: none;
    }

}

.search-form {
    flex: 0 0 36px;
    display: flex;
    border-bottom: 1px solid $app-bg-status;
    input {
        border: none;
        flex: 1 1 auto;
        background: transparent;
        padding-left: 12px;
    }
    button {
        width: 36px;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
    }
}

.main {
    flex: 1 1 auto;
    background-color: $app-bg-content;
    display: flex;
    flex-flow: column;
}

.map {
    flex: 1 1 auto;
}

.location-list {

    padding: 0;
    margin: 0;
    list-style: none;

    .location-item {
        font-size: 14px;
        padding: 6px 12px;
    }
}


.places-section {
    overflow-y: auto;
    border-top: 1px solid $app-bg-status;
    z-index: 10;
    flex: 0 1 150px;

    .toggle-button {
        position: fixed;
        bottom: 12px;
        right: 12px;
        margin: 0;
        padding: 8px;
        background-color: $app-bg-accent;
        border: none;
        border-radius: 50%;
        @include elevate(2);

        i {
            display: block;
        }
    }

    .place-list {

        list-style: none;
        margin: 0;
        padding: 0;

        .place-item {
            display: flex;
            flex-flow: row nowrap;
            cursor: pointer;
            border-bottom: 1px solid $app-bg-status;
            background-color: $app-bg-content;
            // margin: 12px;
            // @include elevate(1);

            .place-picture {
                flex: 0 0 64px;
                background-position: center center;
                background-size: cover;
            }

            .place-detail {
                flex: 1 1 auto;
                .place-title {
                    font-size: 14px;
                    margin: 0;
                    padding: 6px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }

                .place-address {
                    font-size: 12px;
                    margin: 0;
                    padding: 6px;
                }
            }

            &:hover {
                background-color: $app-bg-status;
            }

        }

    }
}

@media screen and (min-width: 620px){

    .main {
        flex-flow: row nowrap;
    }

    .places-section {
        order: 0;
        flex: 0 0 250px;
    }

    .map {
        order: 1;
    }
}