/**
 * @author base1.christiaan@gmail.com (Christiaan Lombard)
 */

@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto:400,700');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import './vars';
@import './elevation';
@import './preloader';


/**

    User agent overrides

*/
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: $app-bg-main;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Roboto', sans-serif;
}

i.material-icons {
    vertical-align: middle;
}

textarea:focus, input:focus{
    outline: none;
}

button {
    outline: none;
    border: none;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/**

    App Container

*/

.app {

    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 100%;

}

/**

    Header - Logo and navigation

*/

.header {
    display: flex;
    flex: 0 0 auto;
    background-color: $app-bg-primary;
    color: $app-txt-light;
    width: 100%;

    @include elevate(1);

    h1 {
        font-size: 1.6em;
        margin: 0;
        padding: 6px 12px 6px 12px;
    }

    p {
        font-size: 12px;
        margin: 0;
        padding: 0 12px 12px 12px;
        display: none;
    }

    .nav {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        .nav-item {
            background: none;
            color: $app-txt-light;
            border: none;
            padding: 12px;
            box-sizing: border-box;

            &:hover {
                background-color: rgba(white, 0.12);
            }

            i {
                vertical-align: middle;
            }

            span {
                display: none;
            }

            &.active {
                background-color: rgba(white, 0.25);
                border-bottom: 2px solid $app-txt-light;
            }

        }
    }

}

/**
    Main
     - container for Search Form and Map
*/
.main {
    flex: 1 1 auto;
    background-color: $app-bg-content;
    display: flex;
    flex-flow: column;
}


/**
    Search Form
     - styles shared by explore and favorite sections
*/
.search-form {
    display: flex;
    flex-flow: column nowrap;
    background-color: $app-bg-bar;

    .search-bar {

        flex: 0 0 auto;
        display: flex;
        align-items: center;

        .search-label {
            display: block;
            padding: 3px;
        }

        .input-search {
            border: none;
            flex: 1 1 auto;
            background: transparent;
            padding-left: 12px;
            line-height: 36px;
            vertical-align: middle;
        }

        .toggle-btn {
            padding: 0;
            border: none;
            i {
                vertical-align: middle;
                font-size: 36px;
            }

            &:hover {
                background-color: $app-bg-hover;
            }

        }
    }


    .place-list {
        width: 100%;
        overflow-y: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 150px;

        .place-item {
            display: flex;
            cursor: pointer;
            border-bottom: 1px solid $app-bg-status;
            background-color: $app-bg-content;
            padding: 6px;

            .place-info {
                flex: 1 1 auto;
                overflow: hidden;
                .place-title {
                    font-size: 14px;
                    margin: 0;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }
                .place-address {
                    font-size: 12px;
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 100%;
                }
            }

            .place-add-btn {
                padding: 0;
                border-radius: 50%;
                display: block;
                width: 36px;
                height: 36px;
                flex: 0 0 auto;

                &.added {
                    color: $app-bg-primary;
                }

                &:hover {
                    background-color: $app-bg-status;
                }

            }

            .place-rm-btn {
                padding: 0;
                border-radius: 50%;
                display: block;
                width: 36px;
                height: 36px;
                flex: 0 0 auto;

                &:hover {
                    background-color: $app-bg-status;
                }

            }

            &:hover {
                background-color: $app-bg-hover;
            }

        }

    }

    .location-list {

        width: 100%;

        padding: 0;
        margin: 0;
        list-style: none;
        background-color: $app-bg-content;

        .location-item {
            cursor: pointer;
            font-size: 14px;
            padding: 6px 12px;

            .location-explore {
                color: $app-txt-primary;
            }

            &:hover {
                background-color: $app-bg-hover;
            }

        }
    }

    .info-message {
        width: 100%;
        margin: 0;
        font-size: 12px;
        padding: 6px;
    }

    .error-message {
        width: 100%;
        margin: 0;
        font-size: 12px;
        padding: 6px;
        color: $app-txt-light;
        background-color: #F44336;
    }

    .attribution {
        order: 3;
        display: block;
        text-align: center;
        img {
            max-width: 150px;
        }
    }

}

/**
    Map and InfoWindow

*/
.map {
    flex: 1 1 auto;

    .place-info-window{
        max-width: 250px;
        text-align: center;
        .name{
            margin: 0;
            font-weight: 400;
            font-size: 18px;
        }

        .link{
            display: inline-block;
            text-decoration: none;
            color: $app-txt-light;
            background-color: $app-bg-accent;
            padding: 12px;
        }

        .error {
            color: #F44336;
        }

        p {
            font-size: 14px;
        }

    }

}

/**

    Responsive breakpoint at 650px
    switches search to a sidebar

*/
@media screen and (min-width: 650px){

    .main {
        flex-flow: row wrap;

        .search-form {
            width: 300px;
            .place-list {
                overflow-y: auto;
                max-height: unset;
                flex: 1 1 auto;
            }
        }

        .map {
            flex: 1 1 auto;
        }

    }

    .header{
        align-self: flex-start;
    }

    .header .nav .nav-item span {
        display: inline;
    }
}

